html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: white;
}

* {
  box-sizing: border-box;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}

blockquote {
  padding-left: 37px;
  margin-left: -7px;
  background: url(images/quotes.png) 0 3px no-repeat;
  font-size: 18px;
  text-align: justify;
  color: #676767;
}

.w-100 {
  width: 100% !important;
}

.animalsWrap {
  z-index: 12;
  width: 1272px;
  margin: auto;
  padding: 0 0 15px 0;
}

.animals_top_img {
  width: 100%;
  height: 648px;
  background: url(images/top-image.png);
  background-size: 100% 100%;
  position: relative;
}

.animals_top_img .wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.animals_red_smash {
  width: 500px;
    margin: auto;
    background: url(images/redSmash.png);
    background-size: 100% 100%;
    font-family: Bitter;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    text-align: center;

    color: #FFFFFF;
    padding: 100px;
    padding-top: 80px;
}

.blockName {
  margin: auto;
  text-align: center;
  margin-top: 79px;
  margin-bottom: 76px;

  font-family: Bitter;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 30px;
  text-align: center;

  color: #FF001D;
}

.animals-block {
  display: flex;
align-items: center;
justify-content: center;
}

.animal {
  width: 20%;
  display: inline-block;
  margin-bottom: 52px;
  margin-right: 48px;
  background: #FFFFFF;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

.animal:hover {
  cursor: pointer;
  color: #FF001D;
}

.animalImage {
  height: 190px;
  width: 100%;
  background-size: 100% 100%;
}

.nameAndPrice {
  background: white;
  text-align: center;
  font-family: Bitter;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 17px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.aboutAnimalWrapper {
  position: relative;
  padding: 80px;
  background: url(images/lowpolywalls.png);
}

.opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 10;
  background: #fff;
}

.aboutAnimal {
  z-index: 12;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 7px;
  position: relative;
  padding: 0;
  margin-top: 123px;
}

.aboutAnimal .about {
  height: 100%;
  width: 50%;
}

.aboutAnimal .about .name {
  font-size: 35px;
  text-align: center;
  color: #FF001D;
  font-weight: bold;
  margin-top: 37px;
}

.aboutAnimal .about blockquote {
  font-size: 25px;
  color: #32313A;
  margin: auto;
  width: 70%;
  margin-top: 58px;
}

.aboutAnimal .about .text {
  width: 70%;
  margin: auto;
  font-size: 20px;
  text-align: center;
  color: #32313A;
  margin-top:32px;
}

.aboutAnimal .about .btns {
  text-align: center;
}

.aboutAnimal .about .price {
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  text-align: center;
  color: #757575;
}

.redBtn {
  background: #FF001D;
  border-radius: 7px;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  border: 0;
  width: 308px;
  padding: 16px;
  border: 1px solid #FF001D;
   display: inline-block;
   text-decoration: none;
}

.redBtn:hover {
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #FF0000;
  box-sizing: border-box;
  border-radius: 7px;
  text-align: center;
  color: #FF001D;
}

.whiteBtn {
  background: #FFFFFF;
  border: 1px solid #FF0000;
  box-sizing: border-box;
  border-radius: 7px;
  font-size: 15px;
  text-align: center;
  color: #FF001D;
  width: 308px;
  padding: 16px;
}

.whiteBtn:hover {
  cursor: pointer;
  background: #FF001D;
  border-radius: 7px;
  text-align: center;
  color: #FFFFFF;
  border: 0;
  border: 1px solid #FF001D;
}

.aboutAnimal .image {
  height: 100%;
  width: 50%;
  background: url(images/rabbitBig.png);
  background-size: 100% 100% !important;
  position: relative;
}

.aboutAnimal .image .whereAmI {
  position: absolute;
  bottom: 26px;
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #FF001D;
  padding: 15px;
}


.youCanTrustUs .name {
  margin: auto;
  margin-top: 71px;
  font-weight: bold;
  line-height: normal;
  font-size: 40px;
  text-align: center;
  color: #FF001D;
}

.youCanTrustUs .items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 73px;
}

.youCanTrustUs .items .item {
  width: 24%;
  margin-right: 80px;
}

.youCanTrustUs .items .item img {
  margin: auto;
}

.youCanTrustUs .item-name {
  font-size: 28px;
  margin-top: 16px;
  color: #FF001D;
}

.youCanTrustUs .item-text {
  font-size: 18px;
  margin-top: 16px;
  color: #3E3E3E;
}


.youCanTrustUs .btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 88px;
}



.block-name {
  margin: auto;
  margin-top: 71px;
  font-weight: bold;
  line-height: normal;
  font-size: 40px;
  text-align: center;
  color: #FF001D;
}

.reviews {
  background: #F7F7F7;
  padding-top: 54px;
  padding-bottom: 81px;
}

.reviews .block-desc {
  font-size: 25px;
  text-align: center;
  color: #3C3C3C;
}

.reviews .items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 73px;
}

.reviews .items .item {
  background: white;
  width: 24%;
  margin-right: 80px;
  border: 1px solid #CBCBCB;
  box-sizing: border-box;
  border-radius: 7px;
}

.reviews .items .item img {
  width: 100%;
  margin: auto;
}

.reviews .item-name {
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  color: #2E2E2E;
  padding: 10px;
}

.reviews .item-text {
  font-size: 16px;
  color: #3E3E3E;
  padding: 10px;
}


.consultation {
  background: url(images/consultation.png);
  background-size: 100% 100%;
  padding-top: 68px;
}

.consultation .block-desc {
  margin-bottom: 29px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.consultation .form {
  background: white;
  width: 49%;
  border-radius: 5px;
  padding: 60px;
  display: inline-block;
  z-index: 10;
  position: relative;
}

.consultation .form input {
  width: 100%;
  margin-bottom: 29px;
}

.consultation .agrimentsText {
  font-size: 16px;
  text-align: center;
  color: #777777;
  margin-top: 27px;
}

.consultation .phone {
  color: white;
  padding: 46px;
  padding-bottom: 80px;
  width: 49%;
  background: rgba(234, 177, 14, 0.58);
  border-radius: 5px;
  display: inline-block;
  position: relative;
  right: 10px;
  bottom: 140px;
  z-index: 1;
  font-size: 15px;
}

.consultation .questions {
  font-size: 30px;
  font-weight: bold;
}

.consultation a {
  color: red;
  text-decoration: none;
}

.consultation a:hover {
  color: #777777;
  text-decoration: underline;
}

.arrowBlock {
  display: inline-block;
  position: relative;
}

.arrowBlock img {
  position: absolute;
  bottom: 20px;
  right: 40px;
}

.arrowBlock a:hover {
  color: white;
}

/*--Animal's PAGE---*/
.animalPageWrapper {
  width: 100%;
  background: url(images/lowpolywalls2.png);
  background-size: 100% 100%;
  padding-top: 94px;
  padding-bottom: 116px;
}


.talkingAnimal {
  position: relative;
  margin-top: 73px;
}

.talkingAnimal .animalTalk {
  position: absolute;
  background: url(images/rabbitTalking.png);
  background-size: 100% 100%;
  width: 300px;
  height: 150px;
  top: 120px;
  left: 200px;
}

.talkingAnimal .textCloud {
  background: url(images/textCloud.png);
  background-size: 100% 100%;
  padding: 30px;
  padding-left: 200px;
  padding-right: 150px;
  width: 70%;
  margin-left: auto;
}

.similarAnimals {
  display: flex;
  align-items: center;
  justify-content: center;
}

.similarAnimals .item {
 margin-right: 41px;
}

.similarAnimals .item:last-child {
 margin-right: 0;
}

.similarAnimals .item img {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 23px;
}
